In [14]:
from selenium import webdriver
import requests, json
import pandas as pd

In [15]:
# site url : http://stats.nba.com/teams/traditional/?sort=GP&dir=-1

In [16]:
url = "http://stats.nba.com/stats/leaguedashteamstats?Conference=&DateFrom=&DateTo=&Division=&GameScope=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season=2017-18&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision="
driver = webdriver.Chrome("C:/Users/user/Desktop/chromedriver.exe")
driver.get(url)

response = driver.find_element_by_css_selector("pre").text
json_data = json.loads(response)

driver.close()

In [17]:
columns = json_data['resultSets'][0]['headers']
len(columns)

56

In [18]:
datas = json_data['resultSets'][0]['rowSet']
len(datas)

30

In [19]:
df = pd.DataFrame(datas, columns=columns)
df.sort_values("PTS", ascending=False).reset_index(drop=True)
df.tail()

,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
25,1610612758,Sacramento Kings,64,20,44,0.313,48.2,38.9,85.8,0.453,...,15,7,26,11,14,30,29,29,10,Sacramento Kings
26,1610612759,San Antonio Spurs,63,36,27,0.571,48.0,38.9,84.8,0.459,...,5,20,3,2,1,20,26,5,10,San Antonio Spurs
27,1610612761,Toronto Raptors,62,45,17,0.726,48.2,41.2,87.4,0.472,...,4,8,2,16,27,17,4,2,10,Toronto Raptors
28,1610612762,Utah Jazz,63,33,30,0.524,48.2,37.7,82.7,0.456,...,17,3,15,8,12,14,25,11,10,Utah Jazz
29,1610612764,Washington Wizards,64,36,28,0.563,48.3,40.0,85.8,0.467,...,16,13,22,10,25,12,11,12,10,Washington Wizards

In [20]:
columns_filter = ["TEAM_NAME", "GP", "W", "L", "W_PCT", "MIN", "FGM"]
columns_rename = {"TEAM_NAME":"TEAM", "W_PCT":"WIN%"}

In [21]:
df_filter = df.filter(items=columns_filter)
df_filter.tail()

             TEAM_NAME  GP   W   L  W_PCT   MIN   FGM
25    Sacramento Kings  64  20  44  0.313  48.2  38.9
26   San Antonio Spurs  63  36  27  0.571  48.0  38.9
27     Toronto Raptors  62  45  17  0.726  48.2  41.2
28           Utah Jazz  63  33  30  0.524  48.2  37.7
29  Washington Wizards  64  36  28  0.563  48.3  40.0

In [22]:
df_rename = df_filter.rename(columns=columns_rename)
df_rename.tail()

                  TEAM  GP   W   L   WIN%   MIN   FGM
25    Sacramento Kings  64  20  44  0.313  48.2  38.9
26   San Antonio Spurs  63  36  27  0.571  48.0  38.9
27     Toronto Raptors  62  45  17  0.726  48.2  41.2
28           Utah Jazz  63  33  30  0.524  48.2  37.7
29  Washington Wizards  64  36  28  0.563  48.3  40.0